/******* COLORS ************

Dark Blue: 	#042a2b	| RGB  4,42,43
Light Blue: #2292a4	| RGB  34,146,164
Orange:    	#d84727 | RGB  216,71,39
Tan:      	#e8d6cb | RGB  232,214,203
Off White:  #f4f4f4 | RGB  244,244,244
***********/

/*utilities*/



#testBox{
	height: 10px;
	width: 10px;
	background-color: red;
}

.whiteTxt{
	color:white;
}

.noPadding{
	padding:0;
}


#mainBody{
	min-height: 100vh;
}

.grad {
  background: #042a2b; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(4,42,43,1),rgba(4,42,43,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(4,42,43,1),rgba(4,42,43,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(4,42,43,1),rgba(4,42,43,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(4,42,43,1), rgba(4,42,43,0)); /*Standard*/
}

.whoWeAreImg{
	background-image: url("../images/navBg.jpg");
	background-repeat: no-repeat;
    
    background-position: right center; 
}


/*page head*/

.infoBarDiv{
	background-color: #042a2b;
	padding:1rem 0 .15rem 0;
	border-bottom: solid .15rem #e8d6cb;
}

.infoBar{9
	font-size: 1.5rem;
	color:#e8d6cb;
}

.infoBar a:hover, .infoBar a:active, .infoBar a:focus, .infoBar a:visited, .infoBar a{
	text-decoration: none;
	color:#e8d6cb;
	font-size: 3rem;
}

#navbar-collapse{
	background-color: #f4f4f4;
	color: #e8d6cb;

}

.navbar-header{
	border-bottom: solid .5rem #d84727;
}

	/*overrides bootstrap nav*/

.navbar-default .navbar-nav{
	padding-left: 1.5rem;
}

	/*link over and focus*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f4f4f4;
    background-color: #d84727;
}
.navbar-collapse {
  text-align:center;
  box-shadow: 0 .5rem 1rem rgba(4,42,43,.8);
}

.navbar-nav li{
	padding: 0 3rem;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.navLinks{
	padding: 2rem 50% 2rem 2rem;
	line-height: 2rem;
	font: 2rem 'Anton', sans-serif;
	letter-spacing: .5rem;
	
}

/*overrides navbar default text color*/
.navbar-default .navbar-nav>li>a {
    color:#042a2b;
}

#logoDiv{
	background-color: #042a2b;
	padding:2.75rem 0;
	padding: 10rem 0 7rem 0;
}

#mainLogo{
	width: 15rem;
}


/*body styles*/

h1{
	font: bold 2.5rem 'Eczar', serif; 
}

.orangeUl{
	border-bottom: solid .5rem #d84727;
}

.ltBlueUl{
	border-bottom: solid .5rem #2292a4;
}

p{
	font:1.25rem 'Roboto', sans-serif;
}

/*catviewer styles*/

#shirtDetailsDiv{
	height:15rem;
}

#catViewer{
    display: inline-block;
    text-align: center;
    width:26rem;
}




#catViewerPrev, #catViewerNext{
	display: inline-block;
	background-color: #042a2b;
	font-size: 2rem;
	color: #2292a4;
	height:15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	width:3rem;
}

#catViewerPrev{
	float:left;
	border-radius: 2rem 0 0 2rem;
}

#catViewerNext{
	float:right;
	border-radius: 0 2rem 2rem 0;
}

#catViewerMain{
	display: inline-block;
	clear: both;
	border-top: solid #042a2b .15rem;
	border-bottom: solid #042a2b .15rem;
	overflow: hidden;
	width: 20rem;
	height:15rem;
	background-color: #d9e1f3;
}

#catViewer a{
	margin:1rem;
}

#catViewer a:visited, #catViewer a:active, #catViewer a{
	text-decoration: none;
	color:#2292a4;
}

#catViewer a:hover{
	text-decoration: none;
	color:#d84727;
}

.catViewerImg{
	position: relative;
	display: inline-block;
	height: 15rem;
	padding: .5rem 1rem;
}


/*footer styles*/

#footerDiv{
	margin-top: 10rem;
	padding-top: 4rem;
	background-color: #042a2b;
	color: #f4f4f4;
	height: 20rem;
}

@media (min-width: 575px){
	#logoDiv{
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-origin:padding-box;
		background-position:center 3rem;
		padding: 15rem 0 7rem 0;
	}

}

@media (min-width: 750px) { 
	#mainLogo{
		width: 20rem;
	}
	.navLinks{
		padding: 0 1rem;
		line-height: 2rem;
		font: 1.5rem 'Anton', sans-serif;
		letter-spacing: .25rem;
	}

	.navbar-nav li{
		padding: 0 1rem;
	}


}


@media (min-width: 970px){
	.navLinks{
		padding: 2rem 50% 2rem 2rem;
		line-height: 2rem;
		font: 2rem 'Anton', sans-serif;
		letter-spacing: .5rem;
	}
	
}

