@import '../location//css/colorVars.css';

/******* COLORS ************

Dark Blue: 	#042a2b	| RGB  4,42,43
Light Blue: #2292a4	| RGB  34,146,164
Orange:    	#d84727 | RGB  216,71,39
Tan:      	#e8d6cb | RGB  232,214,203
Off White:  #f4f4f4 | RGB  244,244,244
***********/




html{
	height:100%;
}

body{
	background-color: var(--primary-bg-color);
	color:var(--primary-txt-color);
	position: relative;
	padding-bottom: 25rem;
	margin:0;
	min-height: 100%;
	font-family: 'Roboto' sans-serif;
}

/*utilities*/

.xlDefault{
	cursor:default;
}

.preloader{
	position: absolute;
	left: -9999px;
	top:  -9999px;
}

.whiteTxt{
	color:white;
}

.ltBlueTxt{
	color:#2292a4;
}

.orangeTxt{
	color:#d84727;
}

.noPadding{
	padding:0;
}

.listNoDecor{
	list-style: none;
	padding-left: 1rem;
}

.hideSmallScreens{
	display: none;
}

#mainBody{
	min-height: 100vh;
}
#mainBody-staticNav{
	padding-top:8rem;
}

.roundedBorderHeavy{
	border-radius: 2rem;
}

.roundedBorderLight{
	border-radius: .5rem;
}

.big1stLetter{
	font-size:5rem;
}

.blockLink{
	display: block;
}


#contactBar{
	padding: .5rem 3rem .75rem;
	text-decoration: none;
	background-color: var(--secondary-bg-color);
	height: 3rem;
	transition: 500;
}


#contactBar a:visited, #contactBar a:active, #contactBar a:hover, #contactBar a{
	color: var(--secondary-link);
	text-decoration: none;
}

.navbar-brand{
	padding: 5px 15px;
	margin-left: -6rem;
	position: absolute;
	left:50%;
	top:0;
	display: inline;
	z-index: 1001
}

.mobileLogo{
	display: none;
}

#navBlock{
	position: fixed;
	width: 100%;
    z-index: 1000;
}

.navSection{
	display: inline-block;
}

#leftNavSection{
	position:relative;

}

#rightNavSection{
	position:relative;

}

#navbarToggleBtn, #navbarToggleBtn a:visited{
	background-color: var(--secondary-bg-color);
	margin-right: 4rem;
}


#navbarToggleBtn:hover, #navbarToggleBtn:active{
	background-color: var(--tertiary-bg-color);
}

#navbarToggleBtn .icon-bar{
	background-color: var(--secondary-txt-color);
}



#navbar-collapse{
	background-color: var(--primary-bg-color);
	color:var(--primary-txt-color);
}

.navbar-header{
	height: 8rem;
}


	/*overrides bootstrap nav*/

	/*link over and focus*/

.navbar-collapse {
  text-align:center;
  box-shadow: 0 .5rem 1rem var(--secondary-bg-color);
}

/*.downArrow{
	display: none;
}*/

.navbar-nav li{
	padding: 0 3rem;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.navLinks{
	padding: 2rem 50% 2rem 2rem;
	line-height: 2rem;
	font: 2rem 'Anton', sans-serif;
	letter-spacing: .5rem;
	color:#f4f4f4;
}

/*overrides navbar default text color*/

.navLinks:focus, .navLinks:hover {
    color: var(--secondary-link);
}

.navNoBanner{
	height:initial;
}

#leftNavSection-static{
	position:relative;
	left:-6.125rem;
}

#rightNavSection-static{
	position:relative;
	left:6.125rem;
}

#topNavSection-static{
	height:7.5rem;
}

#smallLogo-static-sm, #smallLogo-static-lg{
	display: none;
	width:8rem;
}


.logoDiv{
	background-color: var(--secondary-bg-color);
	background-position: center 8rem;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: padding-box;
	padding-top: 13rem;
}

#logoDivCatalog{
	background-image: url("../images/catalogTopImg.png");
}

#logoDivContact{
	background-image: url("../images/contactTopImg.png");
}

#mainLogo{
	width: 17rem;
}

#smallLogoDiv{
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;

}

#smallLogo{
	display: none;
	width:8rem;
}




.downArrow{
	padding-top: 9rem;
	text-shadow: 0 .5rem .5rem rgba(4,42,43,.8);
	width: 8rem;
}

/*body styles*/

h1{
	font: 700 3rem 'Zilla Slab', serif;
	letter-spacing: 1rem;
	margin-bottom: 4rem;
}

h1 small{
	font-family: 'Roboto', sans-serif;
}

.orangeUl{
	border-bottom: solid .25rem #d84727;
}

.ltBlueUl{
	border-bottom: solid .25rem #2292a4;
}

p{
	font:1.25rem 'Roboto', sans-serif;
}

.homeColumns{
	padding-right: .25rem;
	padding-left: .25rem;
}

.itemLayersDiv{
	overflow: hidden;
	border: 0;
	position: relative;
	height: 37rem;
}

.homeInfoBox{
	font-size: 1.35rem;
}

.thumbnailTitle{
	font: 1.5rem/1.5rem 'Anton', sans-serif;
	text-transform: uppercase;
	padding-bottom: .5rem;
}	

#topPageSection{
	padding: 1rem 0 8rem;
}

/*catviewer styles*/

.homeBoxTitle{
	font: 300 2rem 'Zilla Slab', serif;
	color:var(--tertiary-txt-color);
	background-color: var(--tertiary-bg-color);
	padding:.5rem;
	margin-bottom: .25rem;
}


.homeBoxBtns{
	position: absolute;
	bottom: 0;
}



.homeBoxBtns .btn-default, .defaultBtns .btn-default{
	font-size: .85rem;
}

.homeBoxBtns .btn-default:active,
.defaultBtns .btn-default:active,
.homeBoxBtns .btn-default:visited,
.defaultBtns .btn-default:visited,
.homeBoxBtns .btn-default
.defaultBtns .btn-default{
	background-color: var(--secondary-bg-color);
	color:var(--secondary-txt-color);
	
	border-color: var(--primary-bg-color);
}




.homeThumbnailDesc{
	padding:0 1rem;
	font: 500 1.25rem/.25rem 'Roboto', sans-serif;
}

.homeBox{
	height: 9rem;
	background-color: var(--primary-bg-color);
	color:var(--primary-txt-color);
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
}




#costCalculatorDiv{
	padding:0 .5rem;
}

#catViewer{
    display: inline-block;
    text-align: center;
    width: 100%;
}

#catViewerPrev, #catViewerNext{
	color:var(--primary-accent-color);
	position: absolute;
	width:2rem;

}
#catViewerPrev .fa, #catViewerNext .fa{
	padding:5rem 0 11rem;
}

#catViewerNext{
	right:3.25rem;
}

#catViewerBtnDiv{
	position: absolute;
	z-index: 10;
	/*padding-right: 7%;*/

	width:100%;
}


#catViewerMain{
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height:100%;
	margin-bottom: -5px;
}


/*Color squares*/
.colorBar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 .5rem;
}

#colorBar-lg{
	justify-content: flex-start;
}

.itemColorThumbnail{
	display: inline-block;
	

}

.colorTitleLabel{
	font: 700 1rem 'Roboto', sans-serif;
	color:var(--primary-txt-color);
	text-align: center;
	width:100%;
	padding: 0 .15rem .15rem;
	margin-top: 1rem;
	border-radius: .5rem;
}

.aboutItem{
	background-color: var(--secondary-bg-color);
	color: var(--secondary-txt-color);
	padding:.5rem 0 .5rem 1rem;
	font:1.5em 'Zilla Slab', serif;
}

.itemDetails{
	font:1.25em 'Zilla Slab', serif;
	color:var(--primary-txt-color);
	border-bottom: solid .1rem #042a2b;
	padding-left: 1rem;
}

.itemContent{
	font: 300 1.5rem 'Zilla Slab', serif;
	color:var(--primary-txt-color);
	padding: 0 1rem;
}

.tablinks{
	font: 400 1.5rem 'Zilla Slab', serif;
/*	z-index: 1000;*/
}



.productThumbnail img{
	width:5rem;
	margin-bottom: -3.25rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.productThumbnail, .colorTitleLabel{
	display: inline-block;
}

/*.tabcontent{
	min-height: 50rem;
	background-color: #fff;
}*/


/*#catViewer a{
	margin:1rem;
}*/

#catViewer a:visited, #catViewer a:active, #catViewer a{
	text-decoration: none;
	color:var(--primary-accent-color);
}

#catViewer a:hover{
	text-decoration: none;
	color:var(--secondary-accent-color);
}

.catViewerImg{
	position: relative;
	display: inline-block;
	height: 7rem;
}

/*.thumbnail{
	height: 62rem;
}*/

input, select{
	/*padding:10px 10px 10px 5px;*/
	display:block;
	border:none;
	background-color: var(--tertiary-bg-color);
	font:1em 'Caveat Brush', cursive;
	color:var(--tertiary-txt-color);
}

select{
	text-align-last:center;
}

.form-control{
	font-size: 1.5rem;
	height: 4rem;
}

.infoTooltip{
	font-size: 1.25rem;
}

.costText{
	font:2rem 'Caveat Brush', cursive;
	color:var(--primary-accent-color);
}

.itemType-pricing{
	font:2em 'Caveat Brush', cursive;
}



.costLabelText{
	font: 1.25rem 'Anton', sans-serif;
}

.fa-3x{
	font-size: 2rem;
}

.totalBox{
	border: .1rem solid var(--tertiary-bg-color);
	background-color: var(--primary-bg-color);
}



#methodsSection{
	background-color: var(--secondary-bg-color);
	padding: 6rem 0 8rem;
}

#productsSection{
	background-color: var(--primary-bg-color);
	padding: 6rem 0 8rem;
}


#apparelHomeSection{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: padding-box;
	background-image: url('../images/productsHomeBg.jpg');
}

.apparelHomeImg{
	margin-bottom: 2rem;
}

#apparelHomeTxtDiv{
	background-color: var(--semitransparent-dark);
	margin-bottom: 6rem;
	padding:1rem 0;
}

.apparelHomeTxt{
	font: 300 1.5rem 'Zilla Slab', serif;
}

#itemImage{
	padding: 1rem;
}

.itemLayers{
	position: absolute;
	left:50%;
	top:1rem;
	transform: translateX(-50%);
	
}

#imgBaseDiv{
	z-index: 2;
}

#imgHighlightsDiv{
	z-index: 3;
}

#imgShadowsDiv{
	z-index: 4;
}


#productName{
	border-bottom: solid .15rem #042a2b;
	margin-bottom: 2rem;
}

.itemIcons{
	width:2rem;
}

#productName h1{
	margin:.2rem 0;
}
.priceTableStyle{
	font-size: 1rem;
	padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
}

#pricing{
	margin-top: 6rem;
}



.pricingBoxBtns .btn-default{
	font-size: 1rem;
}

.pricingBoxBtns .btn-default:active, .pricingBoxBtns .btn-default:visited, .pricingBoxBtns .btn-default{
	background-color: var(--primary-accent-color);
	color: var(--secondary-txt-color);
	
	border-color: #fff;
}

.pricingBoxBtns .btn-default:hover{
	background-color: var(--secondary-accent-color);
	color: var(--secondary-txt-color);

}

.mainTableHeader{
	background-color: var(--secondary-bg-color);
	color: var(--secondary-txt-color);
}

.secondaryTableHeader{
	background-color: var(--table-row-color);
}

dl{
	margin-top: 2rem;
}

dd{
	margin-bottom: 2rem;
}

/*footer styles*/

#footerDiv{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 10rem;
	padding-top: 4rem;
	background-color: var(--secondary-bg-color);
	color: var(--secondary-txt-color);
	height: 55rem;

}

#footerDiv ul{
	padding-left: 0;
}

#footerDiv li{
	list-style: none;
}

.footerLink{
	font-size: 1.25rem;
}

.footerLink-sm{
	font-size: 1rem;
}

.footerLink, .footerLink:active, .footerLink:visited {
	color:var(--secondary-link);
}

.footerLink:hover{
	color:var(--secondary-link-hover);
	text-decoration: none;
}




@media (min-width: 365px){

	.pricingBoxBtns .btn-default{
		font-size: 1.25rem;
	}

	.homeInfoBox{
		font-size: 1.25rem;
	}
	.homeBoxBtns .btn-default, .defaultBtns .btn-default{
		font-size: 1rem;
	}
}

@media (min-width: 575px){

	.pricingBoxBtns .btn-default{
		font-size: 1.5rem;
	}

	.hideSmallScreens{
		display: initial;
	}
	
	.thumbnailTitle{
		font: 2.5rem/2rem 'Anton', sans-serif;
		padding-bottom: 1rem;
	}

	.homeInfoBox{
		font-size: 1.5rem;
	}

	.lineBreak{
		display: none;
	}

	.homeBoxBtns .btn-default, .defaultBtns .btn-default{
		font-size: 1.5rem;
	}

	.form-control{
		font-size: 2rem;
	}

	#catViewerPrev .fa, #catViewerNext .fa{
		padding:7rem 0 11rem;
	}

	#colorBar-sm{
		display:flex;
	}

	.itemType-pricing{
		font-size: 3em;
	}

	.footerLink{
		font-size: 1.75rem;
	}

	.footerLink-sm{
		font-size: 1.25rem;
	}
		
	
	

}

@media (min-width: 768px) { 

	h1{
		font-size: 5rem;
	}

	#mainLogo{
		width: 30rem;
		margin-top: 15rem;
	}
	.logoDiv{    
	    background-color: var(--secondary-bg-color);
		background-position: center 8rem;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-origin: padding-box;
		padding: 5rem 0 3rem 0;
		margin-bottom: 6rem;
		box-shadow: 0 .5rem 1rem var(--semitransparent-dark);
		height:60rem;
	}

	#smallLogo-static-lg {
		display: inline-block;
	}
	.navLinks{
		padding: 0 1rem;
		line-height: 2rem;
		font: 1.5rem 'Anton', sans-serif;
		letter-spacing: .25rem;
	}

	.itemLayersDiv{
		height: 20rem;
	}

	.thumbnailTitle{
		font: 3rem/3rem 'Anton', sans-serif;
	}

	.navbar-nav li{
		padding: 0 1rem;
	}

	#socialDropdown{
		display: initial;
		padding-right: 3rem;
	}

	#socialDropdown .fa{
		padding: 1.75rem .5rem 0 0;
	}

	#colorBar-sm{
		display:none;
	}

	.apparelHomeTxt{
		font-size: 1.75rem;
	}

	#smallLogoBrand{
		display: none;
	}

	.navNoBanner{
		height:7.5rem;
	}

	.fa-3x{
		font-size: 4rem;
		margin-top: 1rem;
	}

	.costLabelText{
		font-size: 2rem;
	}

	.costText{
		font-size: 3rem;
	}

	.infoTooltip{
		font-size: 2rem;
	}

	#catViewerPrev .fa, #catViewerNext .fa{
		padding:10rem 0 11rem;
	}

	.navbar-brand{
		display: none;
	}

	#footerDiv{
		height: 30rem;
	}

}


@media (min-width: 970px){
	.navLinks{
		padding: 2rem 50% 2rem 2rem;
		line-height: 2rem;
		font: 2rem 'Anton', sans-serif;
		letter-spacing: .5rem;
	}

	.apparelHomeTxt{
		font-size: 2rem;
	}
	
}

