//use grid-template-rows to define column heights instead of what you're using now

html{
	height:100%;
	box-sizing:border-box;
}

/**{
	border: 1px solid black;
}*/

*,
*:before,
*:after{
	box-sizing: inherit;
}

#wrapper{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: 600px 657px 770px 900px 300px;
}

//layout utilities

.pull-left{
	grid-column-start: 1;
}

.pull-right{
	grid-column-start: 6;
}

//layout utilities

.pull-left{
	grid-column-start: 1;
}

.pull-right{
	grid-column-start: 6;
}

//grid areas for home page

#topBar{
	position: fixed;
	width: 100%;
}


#nav{
	position: fixed;
	justify-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
}


	

#topImage{
	grid-area: topImage;
}
#styleQuoteDesign{
	grid-area: styleQuoteDesign;
	display: flex;
	align-content: space-between;
	width: 500px;
}
#prodMethods{
	grid-area: prodMethods
}
#apparel{
	grid-area: apparel;
}
#footer{
	grid-area: footer;
}

#wrapper.home{
	grid-template-areas: 
	'topImage topImage topImage topImage topImage topImage'
	'styleQuoteDesign styleQuoteDesign styleQuoteDesign styleQuoteDesign styleQuoteDesign styleQuoteDesign'
	'prodMethods prodMethods prodMethods prodMethods prodMethods prodMethods'
	'apparel apparel apparel apparel apparel apparel'
	'footer footer footer footer footer footer'
}


//flexboxes

.fullWidth-flex{
	grid-column-start: 1;
	grid-column-end: -1;
}
