//top bar

#topBar{
	padding: 5px 30px 7px;
	text-decoration: none;
	background-color: var(--darkBlue);
	height: 30px;
	transition: 500;
}


    #topBar a:visited, #topBar a:active, #topBar a:hover, #topBar a{
        color: var(--bodyColor);
        text-decoration: none;
    }

//nav

#nav{
    background:var(--bodyColor);
    margin-top: 30px;
    width: 100%;
}

    .nav-elements{
        display: inline-block;
    }

    #nav-logo{
        
        width:0;
        padding:2px 0;
    }

        #nav-logo.open{
            width:60px;

        }

        .nav-links{
            list-style-type: none;
            margin:0;
            padding:0;
        }

        .nav-left, .nav-right{
            transition: 200ms;
        }
        .nav-left.open{
            transform: translateX(-60px);
        }

        .nav-right.open{
            transform: translateX(60px);
        }

        .nav-left{
            transform: translateX(0);
        }

        .nav-right{
            transform: translateX(0);
        }

        // .nav-right{
        //     
        // }

            .nav-links li{
                display: inline;
                
                margin: 10px 20px;
            }

            .nav-links li a{
                display: inline-block;
                padding: 15px 0;
            }

#topImage{
    margin-top: 90px;
}