
:root{
    //Colors
    --bodyColor:#f4f4f4;
    --ltBlue:#2292a4;
    --orange:#d84727;
    --darkBlue:#042a2b;
    --grey:#333;
    --ltGrey:#777;

    //fonts
    --body-font:'Roboto', sans-serif;
    --button-font:'Anton', sans-serif;
    --heading-font:'Zilla Slab', serif;


}

html{
    font-size: 10px;
}


