
#mainBody-staticNav{
	padding-top:15rem;
	margin-bottom:400px;
}

#checkout-button{
	background-color: blue;
	padding:1rem;
	color: white;
	width:12rem;
	font-family: sans-serif;
	margin-bottom: 1rem;
}

@media (min-width:768px){
	#mainBody-staticNav{
		padding-top:15rem;
		margin-bottom:200px;
	}
}